*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

html,
body {
  min-height: 100%;
  min-height: 100vh;
}

body {
  font: 16px 'Roboto', Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  background: #f6f6f6;
}

.app {
  width: 100%;
  background: white;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0 auto;

 

  .welcome-screen,
  .login-form {
    width: 100%;
    min-height: 100vh;
    background: url('./../../images/landing-page.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    >footer {
      width: 100%;
      padding: 1rem;
      text-align: left;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.54);
      box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
        0px 4px 5px 0px rgba(0, 0, 0, 0.14),
        0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  
      .text {
        border-bottom: solid 1px whitesmoke;
        display: inline;
        padding-bottom: 3px;
      }
    }
  }

  a {
    color: white;
    text-decoration: unset;
  }
}